<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" package="com.stip.stip">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name="com.stip.stip.signup.STIPApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="STIP"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stipandroid"
        tools:targetApi="31">

        <activity
            android:name="com.stip.stip.signup.intro.IntroActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.stip.stip.signup.login.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.permission.PermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.signup.SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
            
        <!-- 티커 트랜잭션 데모 액티비티 -->
        <activity
            android:name="com.stip.ipasset.ticker.TickerTransactionDemoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.main.MainSignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.login.LoginBiometricAuthActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.login.LoginPinNumberActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.signup.signup.SignUpOCRWebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.ipasset.TransactionActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            tools:ignore="DiscouragedApi,LockedOrientationActivity" />

        <activity
            android:name="com.stip.ipasset.usd.activity.DepositKrwActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.ipasset.activity.UsdDepositDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.ipasset.activity.UsdWithdrawalDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.ipasset.ticker.activity.TickerDepositDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.ipasset.ticker.activity.TickerWithdrawCheckActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.ipasset.ticker.activity.TickerWithdrawalDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.more.activity.MemberInfoEditActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.stip.more.activity.TestActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.stip.more.activity.PhoneAuthActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.stip.stip.more.activity.PinVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.stip.stip.more.activity.AddressSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.stip.stip.more.activity.OverseasLoginBlockActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name="com.stip.stip.more.activity.IPDonationPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.stip.more.activity.IPDonorCommunityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <activity
            android:name="com.stip.stip.more.activity.MoreIpDonationAgreementActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
            
        <!-- FileProvider for camera functionality -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.stip.stip.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

    <queries>
        <package android:name="com.sktelecom.sktauth" />
        <package android:name="com.kt.ktauth" />
        <package android:name="com.lguplus.smartotp" />
    </queries>

</manifest>
